<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="'Room:  '+ ${id}" />
<a href="/room/all">Вывести все комнаты</a>
<form action="/room/add" method="post">
    <p><input type="text" name="pictureName" placeholder="Имя фото"></p>
    <p><input type="text" name="storey" placeholder="Этаж"></p>
    <p><input type="submit" value="Добавить комнату"></p>
</form>
</body>
</html>